.select-geo{
    padding: .375rem 1.75rem .375rem .75rem !important;
    line-height: 1.5 !important;
    height: calc(1.5em + .75rem + 2px) !important;
    vertical-align: middle;
}

.input-geo{
    height: calc(1.5em + .75rem + 2px) !important;
}

.checkbox-geo{
    position: absolute !important;
    margin-top: .3rem !important;
    margin-left: -1.25rem !important;
}

.title-geo-leads{
    margin: 10px 0 0 0;
}

.disable-nav{
    pointer-events: none;
    cursor: wait;
}

.subtitle-geo-leads{
    font-style: italic;
}

.tab-content{
    padding: 20px;
}

.project-tab {
    padding: 10% 10% 0 10%;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 0px !important;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

/* Form */

.title-form{
    font-weight: 500;
    margin: 0;
}

.subtitle-form{
    font-style: italic;
    margin: 0 0 0.5rem 0;
}

.btn{
    float: right !important;
}